@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #262626;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: #b3b3b3;
  --color-sidebar-border: #ebebeb;
  --color-sidebar-accent-foreground: #343434;
  --color-sidebar-accent: #f7f7f7;
  --color-sidebar-primary-foreground: #fcfcfc;
  --color-sidebar-primary: #343434;
  --color-sidebar-foreground: #262626;
  --color-sidebar: #fcfcfc;
  --color-chart-5: #f5c53f;
  --color-chart-4: #f7d94c;
  --color-chart-3: #5451b9;
  --color-chart-2: #3b97b7;
  --color-chart-1: #c17329;
  --color-ring: #b3b3b3;
  --color-input: #ebebeb;
  --color-border: #ebebeb;
  --color-destructive: #d33a2c;
  --color-accent-foreground: #343434;
  --color-accent: #f7f7f7;
  --color-muted-foreground: #8e8e8e;
  --color-muted: #f7f7f7;
  --color-secondary-foreground: #343434;
  --color-secondary: #f7f7f7;
  --color-primary-foreground: #fcfcfc;
  --color-primary: #343434;
  --color-popover-foreground: #262626;
  --color-popover: #ffffff;
  --color-card-foreground: #262626;
  --color-card: #ffffff;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #262626;
  --card: #ffffff;
  --card-foreground: #262626;
  --popover: #ffffff;
  --popover-foreground: #262626;
  --primary: #343434;
  --primary-foreground: #fcfcfc;
  --secondary: #f7f7f7;
  --secondary-foreground: #343434;
  --muted: #f7f7f7;
  --muted-foreground: #8e8e8e;
  --accent: #f7f7f7;
  --accent-foreground: #343434;
  --destructive: #d33a2c;
  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #b3b3b3;
  --chart-1: #c17329;
  --chart-2: #3b97b7;
  --chart-3: #5451b9;
  --chart-4: #f7d94c;
  --chart-5: #f5c53f;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #262626;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b3b3b3;
}

.dark {
  --background: #262626;
  --foreground: #fcfcfc;
  --card: #343434;
  --card-foreground: #fcfcfc;
  --popover: #343434;
  --popover-foreground: #fcfcfc;
  --primary: #ebebeb;
  --primary-foreground: #343434;
  --secondary: #444444;
  --secondary-foreground: #fcfcfc;
  --muted: #444444;
  --muted-foreground: #b3b3b3;
  --accent: #444444;
  --accent-foreground: #fcfcfc;
  --destructive: #e04d2b;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #8e8e8e;
  --chart-1: #7841e0;
  --chart-2: #29c496;
  --chart-3: #f5c53f;
  --chart-4: #a442f3;
  --chart-5: #e7984f;
  --sidebar: #343434;
  --sidebar-foreground: #fcfcfc;
  --sidebar-primary: #7841e0;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #444444;
  --sidebar-accent-foreground: #fcfcfc;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #8e8e8e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
